
<div id="content" class="container-fluid">
    <div class="col-md-12 master-data">
        <div class="home-search">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="admin-role breadcrumb">
                  <li class="breadcrumb-item"><a href="#">
                      <a ui-sref="app.home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                    </a>
                  </li>
                  <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="vm.tabChange($event,'All')">Administrator - Master Data</a></li>
                </ol>
              </nav>
            <div class="clear-report"></div>
            <ul id="home" class="nav nav-tabs">
                <li class="active"><a ui-sref-active="active" ng-click="vm.tabChange($event,'All')">Area, Unit, Instrumentation Group, Instrumentation Type and Failure Sub-Type</a></li>
              <li><a ui-sref-active="active" ng-click="vm.tabChange($event,'Brand')">Brand</a></li>
              <li><a ui-sref-active="active" ng-click="vm.tabChange($event,'WorkType')">Work Type</a></li>
                <li><a ui-sref-active="active" ng-click="vm.tabChange($event,'FailureType')">Failure Type</a></li>
                <li><a ui-sref-active="active" ng-click="vm.tabChange($event,'Constain')">Constraint</a></li>
                <li><a ui-sref-active="active" ng-click="vm.tabChange($event,'WorkCompletion')">Work Completion</a></li>
                <li><a ui-sref-active="active" ng-click="vm.tabChange($event,'QTY')">QTY</a></li>
            </ul>
            <div class="tab-content" ui-view="subContent">

            </div>
        </div>

    </div>
</div>