
  <div class="form-horizontal">
      <h2><b>Categories</b></h2> <hr/>
      <table class="table table-bordered table-striped">
        <tr>
            <th>
                <span style="font-size:14px">News Categories</span>
            </th>
            <th>
                <span style="font-size:14px">Action</span>
            </th>
        </tr>
        <tr ng-repeat="x in vm.categories">
            
            <td >
                <input type="checkbox" ng-model="disable" ng-hide="myhide=true">
                <i class="fa fa-ban" ></i><input id="txt{{x.id}}"  class="w3-padding-16" ng-disabled="disable" value="{{x.name}}"></input>
            </td>
            <td>
               <button id="btn_edit"  ng-click="vm.editItem(x.id,$index)" class = "btn btn-xs btn-warning fa fa-pencil-square" >Edit</button>
               <button id="btn_delete" ng-click="vm.removeItem(x.id,$index)" style="cursor:pointer;" class = "btn btn-xs btn-danger fa fa-trash-o" \>Delete</button>
            </td>
        </tr>
        <tr>
          <td>
              <input id="txtAdd" style="display: none" placeholder="Add shopping items here" ng-model="vm.addMe" class="w3-input w3-border w3-padding">
          </td>
          <td>

          </td>
        </tr>
     <tr>
          <td>
              <button id="btn_add" ng-click="vm.addItem()" class = "btn btn-s-md btn-success btn-rounded" >Add</button>
              <button id="btn_save" ng-click="vm.saveItem()" style="display: none" class = "btn btn-s-md btn-success btn-rounded">Save</button>
              <button id="btn_cancel" ng-click="vm.cancelItem()" style="display: none" class = "btn btn-s-md btn-warning btn-rounded"  >Cancel</button>
          </td>
          <td>
            
          </td>
        </tr>
    </table>
    </div>



