/*#login {
  min-height: 100vh;
  display:flex;
  padding: 24px 16px 16px 16px;
  align-items: center;
  // background: linear-gradient(rgba(50, 192, 186, 1), rgba(0, 141, 135, 1) 100%);
  background: linear-gradient(rgba(0, 177, 166, 1), rgba(0, 127, 123, 1) 100%);
  .login-header {
    display: flex;
    align-items: center;
    .login-logo {
      max-width: 128px;
      max-height: 160px;
    }
    @media(min-width:600px){
      .login-logo {
        max-width: 160px;
        max-height: 200px;
      }
    }
  }
  .login-body {
    display: flex;
    width: 100%;
    margin: 24px 0;
    align-items: center;
    .login-title {
      margin-bottom: 24px;
      font-size: 34px;
      color: white;
    }
    @media(min-width:360px){
      .login-title {
        font-size: 48px;
      }
    }
    @media(min-width:600px) and (min-height:720px){
      .login-title {
        font-size: 54px;
      }
    }
    .login-form {
      display: flex;
      width: 100%;
      align-items: center;
      .login-form-content {
        width: 100%;
        min-width: 288px;
        max-width: 480px;
        background: white;
        border-radius: 4px;
        div {
          padding: 0;
          .login-domain, .login-id, .login-password {
            display: flex;
            padding: 0;
            margin: 0;
            md-select {
              width: 100%;
            }
          }
          .login-domain md-select-value, .login-id input, .login-password input {
            height: 48px;
            padding: 0 24px;
            border: none;
            -ms-flex-preferred-size: auto;
          }
          md-input-container.md-input-invalid .md-input::placeholder {
            color: $color_petronas_red;
          }
        }
        .divider {
          border-bottom: 1px solid rgba(0,0,0,.12);
        }
      }
    }
    .login-button {
      width: 100%;
      min-width: 288px;
      max-width: 480px;
      margin: 16px 0 0 0;
      color: white;
      justify-content: center;
    }

    .social-buttons {
      width:100%;
      max-width: 480px;
      margin-top: 24px;
      img {
        padding: 4px 4px 4px 8px;
        width: 36px;
        line-height: 36px;
        border-right: none;
      }
      a { 
        height: 36px;
        line-height: 24px;
        margin-top: 0px;
        padding-left: 48px;
        border-radius: 3px !important;
        color: rgba(0,0,0,0.56);
          font-weight: bold;
      }
      .btn-petronas-social {
        background-color: white;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2), 0px 1px 3px rgba(0,0,0,0.1);
      }
      span {
        margin-top: -2px;
        border-right: none;
      }
      .btn {
        margin-top: 8px;
        width: 100%;
        min-width: 200px;
      }
    }
    .login-loading {
      margin: 16px 0 24px 0;
      color: $color_petronas_violet;
      path {
        stroke: white;
      }
    }
    .login-invalid {
      opacity: .87;
      display: flex;
      align-items: center;
      margin: 16px 0 0 0;
      color: $color_petronas_red;
      font-weight: bold;
      .material-icons {
        margin-right: 4px;
        color: $color_petronas_red;
      }
    }
  }
  .login-footer {
    display: block;
    width: 100%;
    padding-top: 16px;
    margin-top: 24px;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,.12);
    span, div, a {
      font-size: 12px;
      color: rgba(255,255,255,.7);
    }
    .material-icons {
      width: 20px;
      min-width: 20px;
      height: 20px;
      min-height: 20px;
      font-size: 20px;
    }
    @media(min-width:600px){
      span, div, a {
        font-size: 14px;
      }
      .material-icons {
        width: 24px;
        height: 24px;
        font-size: 24px;
      }
    }
    .login-service-desk {
      display: flex;
      margin-bottom: 4px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      a {
        display: flex;
        align-items: center;
        margin: 0 8px;
        md-icon {
          color: rgba(255,255,255,.7);
          margin: 0 4px 0 0;
        }
      }
    }
  }
  .md-select-value .md-text, .md-select-value .md-select-icon {
    color: rgba(0,0,0,.87);
  }
}
@media(min-height: 720px) {
  height: 100vh;
}*/


   /** {
            line-height: 1.4;
            margin: 0;
            font-family: "Museo Sans 300", Verdana;
            font-size: 14px;
        }

        @media (min-width: 600px) {
            * {
                line-height: 1.6;
                font-size: 16px;
            }
        }*/

        button {
            position: relative;
            overflow: hidden;
            border: none;
            cursor: pointer;
        }

        button:focus,
        button:active {
            outline: none;
        }

        button:disabled,
        button:disabled:hover,
        button:disabled:active {
            opacity: .4;
            cursor: not-allowed;
        }

        .button-full {
            min-width: 88px;
            height: 40px;
            padding: 0 16px;
            margin: 8px;
            border-radius: 4px;
            font-family: "Museo Sans 700", Verdana;
            font-weight: bold;
            cursor: pointer;
        }

        button .button-ripple {
            background: rgba(255, 255, 255, 0.6);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            transform: scale(0);
            animation: animate-ripple .2s ease-in;
        }

        @keyframes animate-ripple {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: scale(2);
            }
        }

        .button-ripple-sample {
            width: 100%;
            padding-top: 100%;
            margin-top: -38%;
            left: 0;
            background: rgba(255, 255, 255, 0.6);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            transform: scale(0);
            animation: animate-ripple-sample 4s ease-in;
            animation-iteration-count: infinite;
        }

        .button-icon {
            width: 40px;
            min-width: 40px;
            height: 40px;
            line-height: 40px;
            padding: 0;
            margin: 0 0 0 8px;
            border-radius: 50%;
            background: none;
        }

        .button-icon .icon {
            display: block;
        }

        .button-icon:focus:not(:active):after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: rgba(0, 0, 0, .15);
            transform: scale(0);
            animation: animate-ripple .3s ease-in;
        }

        .button-icon:not(:focus):after {
            display: none;
        }

        #login {
            display: flex !important;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100%;
            width: 100%;
            background: grey;
            background-image: url("http://design.petronas.com/images/background-login.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #login .background-layer {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        @media (min-width: 0px) {
            #login .login-wrapper {
                z-index: 2;
                width: 320px;
                max-width: 320px;
                background: #eee;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.24);
            }
            #login .login-wrapper .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 180px;
                background: radial-gradient(circle at 160px -140px, #ffffff, #ffffff 320px, rgba(0, 0, 0, 0) 320px);
            }
            #login .login-wrapper .header .logo {
                height: 120px;
            }
            #login .login-wrapper .header .app-name {
               margin: 8px 0;
    font-size: 20px;
    font-family: museo_sans;
    font-weight: 400;
            }
            #login .login-wrapper .body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 48px 16px 8px;
            }
            #login .login-wrapper .body .field {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                margin-bottom: 0px;
            }
            #login .login-wrapper .body .field .domain-container,
            #login .login-wrapper .body .field .enterprise-id-container,
            #login .login-wrapper .body .field .password-container {
                position: relative;
                width: 100%;
                margin-bottom: 4px;
            }
            #login .login-wrapper .body .field .domain-container select,
            #login .login-wrapper .body .field .domain-container input,
            #login .login-wrapper .body .field .enterprise-id-container select,
            #login .login-wrapper .body .field .enterprise-id-container input,
            #login .login-wrapper .body .field .password-container select,
            #login .login-wrapper .body .field .password-container input {
                width: 100%;
                height: 48px;
                padding-left: 40px;
                border: 1px solid #ccc;
                border-radius: 4px;
                background: white;
                font-family: "Museo Sans 300";
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
            #login .login-wrapper .body .field .domain-container select,
            #login .login-wrapper .body .field .enterprise-id-container select,
            #login .login-wrapper .body .field .password-container select {
                cursor: pointer;
            }
            #login .login-wrapper .body .field .domain-container select:disabled,
            #login .login-wrapper .body .field .domain-container input:disabled,
            #login .login-wrapper .body .field .enterprise-id-container select:disabled,
            #login .login-wrapper .body .field .enterprise-id-container input:disabled,
            #login .login-wrapper .body .field .password-container select:disabled,
            #login .login-wrapper .body .field .password-container input:disabled {
                opacity: 0.4;
            }
            #login .login-wrapper .body .field .domain-container select:focus,
            #login .login-wrapper .body .field .domain-container input:focus,
            #login .login-wrapper .body .field .enterprise-id-container select:focus,
            #login .login-wrapper .body .field .enterprise-id-container input:focus,
            #login .login-wrapper .body .field .password-container select:focus,
            #login .login-wrapper .body .field .password-container input:focus {
                padding: 0 0 0 39px;
                border: 2px solid #00A19C;
                outline: none;
            }
            #login .login-wrapper .body .field .domain-container select:focus+.material-icons,
            #login .login-wrapper .body .field .domain-container input:focus+.material-icons,
            #login .login-wrapper .body .field .enterprise-id-container select:focus+.material-icons,
            #login .login-wrapper .body .field .enterprise-id-container input:focus+.material-icons,
            #login .login-wrapper .body .field .password-container select:focus+.material-icons,
            #login .login-wrapper .body .field .password-container input:focus+.material-icons {
                color: #00A19C;
            }
            #login .login-wrapper .body .field .domain-container select::-ms-expand,
            #login .login-wrapper .body .field .enterprise-id-container select::-ms-expand,
            #login .login-wrapper .body .field .password-container select::-ms-expand {
                display: none;
            }
            #login .login-wrapper .body .field .domain-container .peek,
            #login .login-wrapper .body .field .enterprise-id-container .peek,
            #login .login-wrapper .body .field .password-container .peek {
                display: none;
                cursor: default;
            }
            #login .login-wrapper .body .field .domain-container input:focus~.peek,
            #login .login-wrapper .body .field .enterprise-id-container input:focus~.peek,
            #login .login-wrapper .body .field .password-container input:focus~.peek {
                display: block;
                line-height: 1.2;
                top: 12px;
                left: auto;
                right: 8px;
                color: black;
                text-align: center;
                font-size: 20px;
                pointer-events: auto;
            }
            #login .login-wrapper .body .field .domain-container input::placeholder,
            #login .login-wrapper .body .field .enterprise-id-container input::placeholder,
            #login .login-wrapper .body .field .password-container input::placeholder {
                color: #ccc;
            }
            #login .login-wrapper .body .field .domain-container .material-icons,
            #login .login-wrapper .body .field .enterprise-id-container .material-icons,
            #login .login-wrapper .body .field .password-container .material-icons {
                position: absolute;
                top: 12px;
                left: 8px;
                color: #ccc;
                pointer-events: none;
            }
            #login .login-wrapper .body .field .domain-container:after {
                content: 'arrow_drop_down';
                font-family: 'Material Icons';
                position: absolute;
                width: 24px;
                height: 24px;
                line-height: 1;
                top: 12px;
                right: 8px;
                background: transparent;
                font-size: 24px;
                pointer-events: none;
            }
            #login .login-wrapper .body .error-message {
                display: flex;
                width: 100%;
                height: 40px;
                color: #D81F2A;
                font-size: 12px;
                text-align: left;
                cursor: default;
            }
            #login .login-wrapper .body .error-message .material-icons {
                position: unset;
                margin-right: 8px;
                color: #D81F2A;
                font-size: 18px;
            }
            #login .login-wrapper .body .login-button {
                width: 100%;
                background: #00A19C;
            }
            #login .login-wrapper .body .login-button span {
                font-family: "Museo Sans 700";
                color: white;
            }
            #login .login-wrapper .body .login-button:hover:not(:disabled),
            #login .login-wrapper .body .login-button:active:not(:disabled) {
                background: #00817d;
            }
            #login .login-wrapper .footer-login {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 16px 24px;
            }
            #login .login-wrapper .footer-login a {
                color: #3D3935;
                font-family: "Museo Sans 300";
                font-size: 12px;
                cursor: pointer;
            }
            #login .login-wrapper .footer-login a:hover {
                color: #00A19C;
            }
        }

        @media (min-width: 600px) {
            #login .login-wrapper {
                width: 360px;
                max-width: 360px;
            }
            #login .login-wrapper .header {
                height: 200px;
                background: radial-gradient(circle at 180px -160px, #ffffff, #ffffff 360px, rgba(0, 0, 0, 0) 360px);
            }
            #login .login-wrapper .body .error-message {
                font-size: 14px;
            }
            #login .login-wrapper .body .error-message .material-icons {
                font-size: 20px;
            }
            #login .login-wrapper .footer-login a {
                font-size: 14px;
            }
        }