<div class="grid-data">
  <div kendo-grid="grid" class="report-grid" options="mainGridOptions"></div>
</div>
<script type="text/x-kendo-template" id="editorTemplate">
  <form id="indicatorFrm">
    <div class="form-group">
      <div class="col-md-11">
        <strong>Indicator: </strong><span>{{indicatorName}}</span>
      </div>
      <div class="col-md-11" style="padding:20px 0px 20px 15px">
        <strong>Threshold:</strong>
      </div>
      <!--Green-->
      <div class="col-md-12" style="margin-bottom:15px">
          <img src="../../../../../assets/icons/indicator-green-icon.png" />
          <span style="margin:0px 171px 0px 10px">when value is</span>
          <select kendo-drop-down-list
                  k-ng-model="conditionOne"
                  data-bind="value: conditionOne"
                  k-value-primitive="true"
                  k-options="conditionOneOptions"
                  style="width: 13%; margin:0px 10px 0px 0px"></select>
          <input kendo-numeric-text-box 
                 name="numeric1"
                 id="numeric1"
                  data-required-max-msg
                k-options ="numbericOneOptions"
                 data-bind="value: max"
                 required
                 k-ng-model="maxValue" 
                 style="width: 27%;" />
          <span class="k-invalid-msg" data-for="numeric1"></span>
      </div>
      <!--Yellow-->
      <div class="col-md-12" style="margin-bottom:15px">
          <img src="../../../../../assets/icons/indicator-yellow-icon.png" />
          <span style="margin:0px 10px 0px 9px">when value is</span>
          <span ng-if="conditionOne == 1">>=</span>
          <span ng-if="conditionOne == 10">></span>
          &nbsp<label style="margin: 0px 54px 0px 0px;;display:inline-block;min-width:30px">{{maxValue}}</label>
          <span>and</span>
          <select kendo-drop-down-list
                  k-ng-model="conditionTwo"
                  data-bind="value: conditionTwo"
                  
                   k-options="conditionTwoOptions"
                   k-value-primitive="true"
                  style="width: 13%;margin:0px 10px 0px 15px"></select>
        <input kendo-numeric-text-box
               name="numeric2"
               id="numeric2"
               k-options ="numbericTwoOptions"
                 required
                data-required-min-msg
                data-bind="value: min"
               k-ng-model="minValue"
               style="width: 27%;" />
        <span class="k-invalid-msg" data-for="numeric2"></span>
      </div>
      <!--Red-->
      <div class="col-md-12">
          <img src="../../../../../assets/icons/indicator-red-icon.png" />
          <span style="margin: 0px 8px 0px 11px;">when value is</span>
        <span ng-if="conditionTwo == -1"><=</span>
        <span ng-if="conditionTwo == -10"><</span>
        <label style="margin: 0px 5px 0px 3px;display:inline-block;min-width:30px">{{minValue}}</label>
      </div>
    </div>
  </form>
</script>
<script type="text/x-kendo-template" id="editorTemplate3">
  <form id="indicatorFrm">
    <div class="form-group">
      <div class="col-md-11">
        <strong>Indicator: </strong><span>{{indicatorName}}</span>
      </div>
      <div class="col-md-11" style="padding:20px 0px 20px 15px">
        <strong>Threshold:</strong>
      </div>
      <!--Green-->
      <div class="col-md-12" style="margin-bottom:15px">
          <img src="../../../../../assets/icons/indicator-green-icon.png" />
          <span style="margin:0px 171px 0px 10px">when value is</span>
          <select kendo-drop-down-list
                  k-ng-model="conditionOne"
                  data-bind="value: conditionOne"
                  k-value-primitive="true"
                  k-options="conditionOneOptions"
                  style="width: 13%; margin:0px 10px 0px 0px"></select>
          <input kendo-numeric-text-box 
                 name="numeric1"
                 id="numeric1"
                  data-required-max-msg
                k-options ="numbericOneOptions"
                 data-bind="value: max"
                 required
                 k-ng-model="maxValue" 
                 style="width: 27%;" />
          <span class="k-invalid-msg" data-for="numeric1"></span>
      </div>
      <!--Yellow-->
      <div class="col-md-12" style="margin-bottom:15px">
          <img src="../../../../../assets/icons/indicator-yellow-icon.png" />
          <span style="margin:0px 10px 0px 9px">when value is</span>
          <span ng-if="conditionOne == 1">>=</span>
          <span ng-if="conditionOne == 10">></span>
          &nbsp<label style="margin: 0px 53px 0px 0px;;display:inline-block;min-width:30px">{{maxValue}}</label>
          <span>and</span>
          <select kendo-drop-down-list
                  k-ng-model="conditionTwo"
                  data-bind="value: conditionTwo"
                  
                   k-options="conditionTwoOptions"
                   k-value-primitive="true"
                  style="width: 13%;margin:0px 10px 0px 15px"></select>
        <input kendo-numeric-text-box
               name="numeric2"
               id="numeric2"
               k-options ="numbericTwoOptions"
                 required
                data-required-min-msg
                data-bind="value: min"
               k-ng-model="minValue"
               style="width: 27%;" />
        <span class="k-invalid-msg" data-for="numeric2"></span>
      </div>
    </div>
  </form>
</script>
<script type="text/x-kendo-template" id="editorTemplate2">
  <form id="indicatorFrm">
    <div class="form-group">
      <div class="col-md-11">
        <strong>Indicator: </strong><span>{{indicatorName}}</span>
      </div>
      <div class="col-md-11" style="padding:20px 0px 20px 15px">
        <strong>Threshold:</strong>
      </div>
      <!--Green-->
      <div class="col-md-12" style="margin-bottom:15px">
        <img src="../../../../../assets/icons/indicator-green-icon.png" />
        <span style="margin:0px 137px 0px 10px">when value is</span>
        <select kendo-drop-down-list
                k-ng-model="conditionOne"
                data-bind="value: conditionOne"
                k-value-primitive="true"
                k-options="conditionOneOptions"
                style="width: 13%; margin:0px 10px 0px 45px"></select>
        <input kendo-numeric-text-box
               name="numeric1"
               id="numeric1"
               data-required-max-msg
                decimals: 0,
               max="999999999999",
               min="0"
               step="1"
               data-bind="value: max"
               required
               k-ng-model="maxValue"
               style="width: 27%;" />
        <span class="k-invalid-msg" data-for="numeric1"></span>
      </div>
      <!--Yellow-->
      <div class="col-md-12" style="margin-bottom:15px">
        <img src="../../../../../assets/icons/indicator-yellow-icon.png" />
        <span style="margin:0px 10px 0px 9px">when value is</span>
        <span ng-if="conditionOne == 1">>=</span>
        <span ng-if="conditionOne == 10"><</span>
        &nbsp<label style="margin: 0px 64px 0px 0px;;display:inline-block;min-width:30px">{{maxValue}}</label>
        <span>and</span>
        <select kendo-drop-down-list
                k-ng-model="conditionTwo"
                data-bind="value: conditionTwo"
                k-options="conditionTwoOptions"
                k-value-primitive="true"
                style="width: 13%;margin:0px 10px 0px 15px"></select>
        <input kendo-numeric-text-box
               name="numeric2"
               id="numeric2"
                decimals: 0,
               max="999999999999",
               min="0"
               step="1"
               required
               data-required-min-msg
               data-bind="value: min"
               k-ng-model="minValue"
               style="width: 27%;" />
        <span class="k-invalid-msg" data-for="numeric2"></span>
      </div>
      <!--Red-->
      <div class="col-md-12">
        <img src="../../../../../assets/icons/indicator-red-icon.png" />
        <span style="margin: 0px 10px 0px 10px;">when value is</span>
        <span ng-if="conditionTwo == -1"><=</span>
        <span ng-if="conditionTwo == -10"><</span>
        <label style="margin: 0px 5px 0px 3px;display:inline-block;min-width:30px">{{minValue}}</label>
      </div>
    </div>
  </form>
</script>
<style>
  .k-edit-form-container {
    position: relative;
    width: 620px;
    padding-top: 5px;
  }

  .k-window .k-window-content {
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 0px;
    padding: 0em 0 0.78em 0 !important;
  }

  #create-update-form {
    padding-left: 10px;
  }

  @media (min-width: 768px) {
    .col-sm-8 {
      width: 70%;
    }
  }
  .col-md-1-5 { width: 12.5%; } 
  .col-md-2-5 { width: 20.83333%; } 
  .col-md-3-5 { width: 29.16667%; } 
  .col-md-4-5 { width: 37.5%; } 
  .col-md-5-5 { width: 45.83333%; } 
  .col-md-6-5 { width: 54.16667%; } 
  .col-md-7-5 { width: 62.5%; } 
  .col-md-8-5 { width: 70.83333%; } 
  .col-md-9-5 { width: 79.16667%; } 
  .col-md-10-5 { width: 87.5%; } 
  .col-md-11-5 { width: 95.8333%; }

  .report-grid .k-grid-header th {
    padding-left: 10px;
  }
</style>
