/* FIX OLD style of BASE.css */
img {
  overflow: hidden;
}

#BottomBar {
  position: fixed;
  z-index: 1037;
}

#Footer {
  position: static;
}

#RightAccordion > .k-item > .k-content .box {
  border-top: 1px solid #f1f1f1;
}

#Header {
  z-index: 100;
}

/* fix Loading screen - OLD */
#splash-screen img {
  vertical-align: top;
}

/* FIX CAN click h4 link*/
#Tab .tab-content .display_list .listing > li .box.img_right .text_box h4 {
  position: relative;
  z-index: 100;
}

.box .action_block a {
  /* float: left; */
}

.box .action_block > img,
.box .action_block a img {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.i_btn li > span.checked a.sme-lnk {
  display: inline;
  border: 0 solid transparent;
  padding: 0;
  width: 24px;
  height: 24px;
}

.i_btn li > span.checked a.sme-lnk img {
  height: 24px;
  border-radius: 50%;
  vertical-align: top;
  width: 24px;
  float: none;
  margin-top: 1px;
  display: inline;
}

/* PAGING boostrap */
.pagination > li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 0 0 6px;
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  background-color: #fff;
  border-color: #ddd;
  font-size: 14px;
}


.pagination > li > a, .pagination > li > span {
  border: 0 solid #ddd;
}

.pagenavi a, .pagenavi span:not(.pages):not(.extend) {
  height: 38px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.pagination-lg > li.pagination-prev > a, .pagination-lg > li.pagination-prev > span {
  font-weight: bold;
}

.pagination-lg > li.pagination-next > a, .pagination-lg > li.pagination-next > span {
  font-weight: bold;
}

.pagination-lg > li > a, .pagination-lg > li > span {
  padding: 10px 14px;
  font-size: 15px;
  color: #444;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #cccccc;
  background-color: white;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color: #615e99;
  color: white;
}

/* Fix LiKE button */
.i_btn li a,
.i_btn li span {
  display: block;
  height: 28px;
  line-height: 26px;
  border: 1px solid #dedede;
  border-radius: 15px;
  padding: 0 5px;
  font-size: 12px;
  color: #444444;
  font-weight: bold;
}

@media (min-width: 480px) {
  .i_btn li a,
  .i_btn li span {
    padding: 0 10px;
  }
}

.i_btn li a:active,
.i_btn li a:focus,
.i_btn li a:hover,
.i_btn li span:active,
.i_btn li span:focus,
.i_btn li span:hover {
  text-decoration: none;
}

.i_btn li a i,
.i_btn li span i {
  color: #898989;
}

.i_btn li a i:before,
.i_btn li span i:before {
  margin: 0;
  width: auto;
}

.i_btn li a i.icon-yes,
.i_btn li span i.icon-yes {
  font-size: 8px;
  margin: 0 0 0 3px;
  vertical-align: top;
  display: none;
}

.i_btn li a.checked,
.i_btn li span.checked {
  background: #eeeeee;
  border-color: #eeeeee;
  color: #898989;
}

.i_btn li a.checked i,
.i_btn li span.checked i {
  color: #cccccc;
}

.i_btn li a.checked .icon-comment-empty:before,
.i_btn li span.checked .icon-comment-empty:before {
  content: '\e84d';
}

.i_btn li a.checked .icon-thumbs-up-empty:before,
.i_btn li span.checked .icon-thumbs-up-empty:before {
  content: '\e84b';
}

.i_btn li a.checked .icon-thumbs-down-empty:before,
.i_btn li span.checked .icon-thumbs-down-empty:before {
  content: '\e804';
}

.i_btn li a.checked .icon-bookmark-empty:before,
.i_btn li span.checked .icon-bookmark-empty:before {
  content: '\e849';
}

.i_btn li a.checked .icon-add-empty:before,
.i_btn li span.checked .icon-add-empty:before {
  content: '\e84f';
}

.i_btn li a.checked .icon-share-empty:before,
.i_btn li span.checked .icon-share-empty:before {
  content: '\e867';
}

.i_btn li a.checked .icon-stack-empty:before,
.i_btn li span.checked .icon-stack-empty:before {
  content: '\e8e1';
}

.i_btn li a.checked .icon-yes,
.i_btn li span.checked .icon-yes {
  color: #898989;
  display: inline-block;
}

/* QUANGNV8: add */
a[ng-click], a[data-ng-click], a[x-ng-click], a, a:link {
  cursor: pointer;
}

#Rank .popular_search a.size {
  font-size: 11px;
  color: #2eb4c4;
}

#Rank .rank>img {
  width: 50px;
  height: 50px;
}

#Rank .rank .i_btn li {
  margin: 5px 5px 10px 0px;
}

#AccInfo .k-item > .k-content .form_cta {
  clear: both;
}

.side_item .btn_block {
  clear: both;
}

/*knowledge-discovery*/
.pagenavi a.active {
  text-decoration: none;
  background: #615e99;
  color: #fff;
}

.pagenavi a.disabled {
  pointer-events: none;
  cursor: default;
}

/*expert-directory*/
@media (min-width: 1200px) {
  .tab_expert .listing_head .expert_toggler {
    clear: none;
    float: left;
    margin: 0 0 0 15px;
  }
}

@media (min-width: 991px) {
  .tab_expert .listing_head .expert_toggler {
    float: right;
    margin: 15px 0 0 0;
  }
}

@media (min-width: 768px) {
  .tab_expert .listing_head .expert_toggler {
    float: left;
    margin: 0 0 0 15px;
  }
}

@media (min-width: 768px) {
  .tab_expert .listing_head h3 {
    margin-bottom: 0;
  }
}

@media (min-width: 991px) {
  .listing_head h3 {
    float: left;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .tab_expert .listing_head {
    padding: 23px 0 0 0;
  }
}

.tab_expert .listing_head {
  position: relative;
  padding: 10px 0;
}

.tab_expert .listing_head h3 {
  float: left;
}

.listing_head {
  font-size: 0;
  line-height: 0;
  margin-bottom: 15px;
}

.listing_head h3 {
  text-align: left;
  margin-bottom: 15px;
}

.tab_expert .listing_head .expert_toggler {
  float: left;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #dedede;
  height: 32px;
}

.tab_expert .listing_head .expert_toggler label input {
  display: none;
}

.tab_expert .listing_head .expert_toggler label input:checked + span {
  background: #615e99;
  color: #fff;
}

.tab_expert .listing_head .expert_toggler label span {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  color: #615e99;
  padding: 0 10px;
  cursor: pointer;
}

/**/
.tab_expert .listing_head h3 span {
  display: none;
}

@media (min-width: 768px) {
  .tab_expert .listing_head h3 span {
    display: inline;
  }
}

@media (min-width: 991px) {
  .tab_expert .listing_head h3 span {
    display: none;
  }
}

@media (min-width: 1200px) {
  .tab_expert .listing_head h3 span {
    display: inline;
  }
}

.tab_expert .listing_head h3 small {
  display: block;
}

@media (min-width: 768px) {
  .tab_expert .listing_head h3 small {
    display: inline;
  }
}

@media (min-width: 991px) {
  .tab_expert .listing_head h3 small {
    display: block;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .tab_expert .listing_head h3 small {
    display: inline;
  }
}

.tab_expert .listing_head .expert_toggler {
  float: right;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #dedede;
  height: 32px;
  margin-top: 7px;
}

@media (min-width: 768px) {
  .tab_expert .listing_head .expert_toggler {
    float: left;
    margin: 0 0 0 15px;
  }
}

@media (min-width: 991px) {
  .tab_expert .listing_head .expert_toggler {
    clear: both;
    float: right;
    margin: 15px 0 0 0;
  }
}

@media (min-width: 1200px) {
  .tab_expert .listing_head .expert_toggler {
    clear: none;
    float: left;
    margin: 0 0 0 15px;
  }
}

.tab_expert .listing_head .expert_toggler label {
  margin: 0;
  float: left;
}

.tab_expert .listing_head .expert_toggler label input {
  display: none;
}

.tab_expert .listing_head .expert_toggler label input:checked + span {
  background: #615e99;
  color: #fff;
}

.tab_expert .listing_head .expert_toggler label span {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  color: #615e99;
  padding: 0 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .tab_expert .listing_head .adv_search .dropdown:not(.expert-directory) > a {
    top: 23px;
  }
}

/*User profile edit dialog*/
.modal_edit .modal-content .modal-body .update_img .right img {
  max-width: 135px;
}

/* FPT_UPDATE START: Update for Skill-box and Collection-card */
.listing:not(.ignore) > li .box .img_box {
  height: 150px;
  overflow-y: hidden;
}

skill-box-collection.ng-isolate-scope div.box div.text_box h4 a {
  color: #fff;
  font-size: 20px;
  line-height: normal;
}

skill-box-collection.ng-isolate-scope div.box div.text_box p {
  color: #fff;
}

skill-box-collection.ng-isolate-scope div.box div.text_box {
  /* display: none; */
  margin-top: -41%;
}

/*#login {
  display: block !important;
}*/

#login div.layout-column {
  display: block !important;
}

.login #main {
  display: block !important;
}

#login .login-header {
  display: table !important;
  margin: 0 auto;
}

#login div.layout-column .login-title {
  display: table !important;
  margin: 24px auto;
}

div.layout#main, div.layout-column#main, div.layout-row#main {
  display: block;
}

/*Loading Indicator*/
.loader {
  font-size: 10px;
  margin: calc(50vh - 3em) auto;
  text-indent: -9999em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #000000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*End Loading Indicator*/

.dd_expert_list img:not([src]) {
  display: none !important;
}

.new_row {
  padding: 15px 20px;
  background: #f9f9f9;
  border: 0 none;
  position: relative;
}

.new_row .btn_close_panel {
  position: absolute;
  right: 5px;
  top: 20px;
  color: #898989;
}

.new_row i {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* FPT_UPDATE END: Update for Skill-box and Collection-card */


ul.user {
  list-style: none;
  padding: 0;
}

ul.user li i:before {
  content: "\f2be"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  font-weight: normal;
  text-decoration: inherit;
}

/* Custom KENDO ui */
.k-widget.k-tooltip-validation {
  border-color: transparent;
  background-color: transparent;
  color: red;
  font-size: 13px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

.k-tooltip-validation .k-i-warning {
  color: red;
  font-size: 13px;
}

div[data-for].k-tooltip {
  position: static;
  display: inline-block;
  border-width: 1px;
  padding: 2px 5px 1px 6px;
  margin: 0px !important;
}

div[data-for].k-tooltip .k-callout {
  display: none;
}

@media (min-width: 991px) {
  .inline-upload .k-upload .k-dropzone .k-upload-button {
    position: relative;
    top: 0;
    left: 0;
  }
}

.k-checkbox:focus + .k-checkbox-label:before {
  border-color: #00a19c;
  -webkit-box-shadow: 0 0 3px 0 #00a19c;
  box-shadow: 0 0 3px 0 #00a19c;
}

.article_attachment {
  margin: 0;
  padding: 0;
}

.article_attachment ul {
  margin: 0;
  padding: 5px;
}

.article_attachment li {
  text-align: center;
  width: 31.9%;
  margin-bottom: 3px !important;
  background-color: #fff;
  /*border: 1px solid #eee;*/
  display: inline-block;
  font-size: 10px;
  padding: 0;
}

.article_attachment i {
  display: block;
  margin: 0 auto 10px auto;
  width: 32px;
  height: 32px;
  margin: 10px auto 0;
  line-height: 32px;
  text-align: center;
  /*font-size: 20px;*/
  color: #444444;
  margin-top: 0;
  padding-top: 5px;
}

.article_attachment a {
  text-decoration: none !important;
  /*width:100%;
  height:100%;
  display:block;
  margin:0;
  padding:0;*/
}

.article_attachment a span {
  color: black;
  font-size: 10px;
  padding: 5px 0 10px 0;
  display: block;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
  letter-spacing: 1px;
}

/*.attachment a:hover i.fa-facebook { color: #FF0000; }*/
.article_attachment a:hover i {
  color: #00ABE3;
}
/*.sidebar-social a:hover i.fa-instagram { color:#FFD400 }
.sidebar-social a:hover i.fa-pinterest { color:#FF0000 }
.sidebar-social a:hover i.fa-google-plus { color:#cb2027 }
.sidebar-social a:hover i.fa-flickr { color:#FF57AE }
.sidebar-social a:hover i.fa-500px { color:#00ABE3 }
.sidebar-social a:hover i.fa-youtube { color:#FF1F25 }
.sidebar-social a:hover i.fa-behance { color:#FF57AE }*/
}

/*Custom btn_remove btn_edit*/
.admin_setting > .box .btn_box_custom {
  text-align: right;
}

.admin_setting > .box .btn_remove_custom {
  font-size: 14px;
}

.admin_setting > .box .btn_edit_custom {
  font-size: 14px;
}

@media (min-width: 1290px) {
  .listing_head .adv_search .dropdown-menu h6 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
}

.status_label.status_pending_me img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

/*fix chart*/

#Intro .kd li {
  display: inline-block;
  vertical-align: bottom !important;
}

.publicationDetails {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background: #f9f9f9;
  padding: 30px 20px 20px 20px;
}

.publicationItem {
  margin-bottom: -10px;
}

.commentReply {
  margin-top: 20px;
}

.chart-container {
  display: inline-block;
}

/* fix style ImageBox */
@media (min-width: 768px) {
  .listing > li .box .img_box {
    overflow: hidden;
    height: 150px;
  }
}

.listing > li .box .text_box {
  position: static
}

.collection_card .listing > li .box .text_box {
  position: absolute
}

@media (min-width: 768px) {
  .lbl_box.lbl_new {
    top: 0;
    right: 0;
  }
  .lbl_box.lbl_admin {
    left: 0;
    top: 0;
    right: auto;
  }
}

#FaqPanel .load_more {
  border-top: 1px solid #eeeeee;
  display: block;
  text-align: center;
  height: 46px;
  line-height: 45px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

/* FIX CollectionBox */
.listing > li.collection_card .box img {
  height: 100%;
}

.listing.listing_collections > li .box {
  overflow: hidden;
}

.listing.listing_collections > li .box img.collection-img {
  width: auto;
  height: 100%;
}

#Related {
  padding: 30px 0;
}

#btn-more-similar {
  text-align: center;
}

#Slider .carousel-caption h5 a, #Slider .carousel-caption h5 a:link, #Slider .carousel-caption h5 a:active {
  color: white
}

.kd-type a, .kd-type a:link, .kd-type a:active {
  color: #444444
}

.text_box a.lnk-collection {
  color: white
}

textarea {
  resize: vertical;
}

/* custom knockout daterangepicker flexbox */
.calendar .calendar-header .calendar-selects {
  display: block !important;
  margin-top: 5px;
}

.calendar .calendar-table .table-row .table-col .week-day.unavailable,
.calendar .calendar-table .table-row .table-col.out-of-boundaries,
.calendar .calendar-table .table-row .table-col.unavailable {
  color: #bbb !important;
}

#TwoCols {
  padding: 35px 0px 100px 0px;
}

#TwoCols .box_text img {
  width: 35px;
  height: 35px;
}

/* add discipline control */
#DisciplineList .add_new {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #615e99;
  text-transform: none;
  margin: 0;
}

#DisciplineList .k-item .k-content {
  padding: 15px 20px;
  background: #f9f9f9;
  border: 0 none;
}

#DisciplineList .k-item .k-content .btn_close_panel {
  position: absolute;
  right: 5px;
  top: 20px;
  color: #898989;
}

#DisciplineList > li.invalid {
  border-color: red;
}

.dd_expert_container .k-list-scroller {
  overflow-x: hidden;
  overflow-y: auto;
}

.selectpicker > .k-dropdown-wrap {
  border: 1px solid #d5d5d5;
  border-radius: 0;
  height: 32px;
  line-height: 30px;
  padding: 0 20px 0 10px;
  font-size: 12px;
  font-weight: 300;
  color: #444444;
  background-color: #fff;
}

.selectpicker > .k-dropdown-wrap > .k-input {
  line-height: 2.214em;
  height: 2.214em;
}

.k-animation-container > .multiselect_panel {
  overflow-y: auto;
}

.k-multiselect .k-multiselect-wrap {
  padding-bottom: 0px;
}

.k-multiselect-wrap .k-input {
  padding: 0.16em 0;
}
/* custom numeric and datepicker control */
.k-numerictextbox .k-state-hover {
  background-color: transparent;
}

.k-numeric-wrap, .k-datepicker {
  border-radius: 0px;
  border: 1px solid #d5d5d5;
}

.k-numeric-wrap .k-picker-wrap, .k-datepicker .k-picker-wrap {
  border-radius: 0px;
  border-color: #fff;
}

.k-numeric-wrap .k-input, .k-datepicker .k-input {
  border-radius: 0px;
  padding: 0.33em 0;
  font-size: 14px;
}

.k-numeric-wrap .k-select, .k-datepicker .k-select {
  background-color: #fff;
  border-color: #fff;
}

.k-numeric-wrap .k-select .k-link, .k-datepicker .k-select .k-link {
  border-radius: 0px;
}

.k-numeric-wrap .k-select .k-state-selected, .k-datepicker .k-select .k-state-selected {
  background-color: #5f5c98;
}

.k-numeric-wrap .k-select .k-state-selected .k-icon, .k-datepicker .k-select .k-state-selected .k-icon {
  color: #fff;
}

#Tab .tab-content .display_list .listing > li .box .img_box img {
  height: 100%;
  width: 100%;
}

.col-form-label {
  font-weight: 600;
  color: #444;
}

/* AddRemove Collection dialog */
.modal.add-remove-collection-dlg {
  margin-left: 17px
}

@media (min-width: 768px) {
  .modal.add-remove-collection-dlg {
    margin-left: 0
  }
}

.modal.add-remove-collection-dlg .modal-dialog {
  max-width: 395px;
  margin: 10px auto
}

.modal.add-remove-collection-dlg .modal-dialog .modal-content {
  border-radius: 5px;
  overflow: hidden
}

.modal.add-remove-collection-dlg .modal-dialog .modal-content .modal-body h3 {
  color: #615e99
}

.modal.add-remove-collection-dlg .modal-dialog .modal-content .modal-body p {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin-bottom: 20px
}

.modal.add-remove-collection-dlg .modal-dialog .modal-content .btn_block {
  font-size: 0;
  line-height: 0
}

.modal.add-remove-collection-dlg .modal-dialog .modal-content .modal-body span {
  padding: 0;
  line-height: 20px;
  border: 0px solid transparent;
}

.modal.add-remove-collection-dlg .modal-dialog .modal-content .btn_block button {
  width: 50%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border: 0 none
}

.modal.add-remove-collection-dlg .modal-dialog .modal-content .btn_block button.btn_link {
  font-size: 14px;
  color: #898989
}

/* k-window */
.k-window {
  border-radius: 0px;
  border: none;
  border-width: 0px !important;
}

.k-window .k-window-titlebar {
  color: #fff;
  background-color: #00a19c;
  background-image: none,none;
  border: none;
  border-radius: 0px;
}

.k-window .k-window-titlebar .k-i-close {
  color: #fff;
}

.k-window .k-window-titlebar .k-window-actions {
  padding-top: 0px;
}

.k-window .k-window-titlebar .k-window-actions .k-button {
  background: none;
  border: none;
  opacity: 1;
  color: #fff;
}

.k-window .k-window-content {
  border-radius: 0px;
  padding: 0em 0 0.78em 0 !important;
}

.k-window .k-window-content .k-edit-buttons {
  border-width: 0px;
  background-color: #5f5c98;
  font-size: 14px;
}

.k-window .k-window-content .k-edit-buttons .k-button {
  box-shadow: none;
  border-radius: 2px;
  border-width: 0px;
  font-weight: 600;
}

.k-window .k-window-content .k-edit-buttons .k-primary {
  color: #fff;
  background: #00a19c;
  border: 2px solid #00a19c;
}

.k-window .k-window-content .k-edit-buttons .k-primary .k-icon {
  color: #fff;
}

.k-window .k-window-content .k-edit-buttons .k-grid-cancel {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  background-image: none,none;
}

.k-window .k-window-content .k-edit-buttons .k-grid-cancel:hover {
  background: #fff;
  color: #00a19c;
}

.k-window .k-window-content .k-edit-buttons .k-grid-cancel:active,
.k-window .k-window-content .k-edit-buttons .k-grid-cancel:focus {
  box-shadow: none;
}

.k-window .k-window-content .k-edit-buttons .k-grid-cancel .k-icon {
  color: #fff;
}

.k-window .k-window-content .k-edit-buttons .k-grid-cancel:hover .k-icon {
  color: #00a19c;
}


/* fix style box Expert */
.listing > li .box.img_right .text_box > img {
  width: 64px;
}

/* loading bar style if modal open */
#loading-bar .bar {
  background-color: #ff953e;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #ff953e;
  border-left-color: #ff953e;
}

/* hide for UAT2 */
.listing_head .inner_layout li a.layout_map {
  display: none;
}

#Profile .profile_archivement {
  display: none;
}

#Profile .profile_img {
  width: 96px;
  height: 96px;
}

/* Upload button on mobile dialog */
@media screen and (max-width: 768px) {
  #CreateCollection .modal-body fieldset .k-dropzone .k-upload-button,
  #EditCollection .modal-body fieldset .k-dropzone .k-upload-button {
    bottom: 0px;
  }
}

/* Word wrap */
.box h4 a {
  word-wrap: break-word;
  display: block;
}

/* SVG chart */
skill-bar-chart > svg .bar {
  fill: white;
}

skill-bar-chart > svg .bar:hover {
  fill: orange;
}

.d3-tip {
  line-height: 1;
  font-weight: 500;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Bootstrap Grid */
.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.checkbox_sd input[disabled] + span {
  opacity: .7;
}

.article_side_block strong {
  color: #444444;
}

.radio_sd label span:before,
.radio_sd input[type=radio]:checked + span:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

small.sub{
  display: block;
  margin: -35px 0 0 0;
  font-size: 75%;
  height: 0;
}

.horizontal-scrollable-tabs .horizontal-tabs .nav-tabs-myaccount {
  overflow: visible;
  overflow-x: visible;
  overflow-y: none;
}

#TabNav ul li ul li {
  display: block;
  background: white;
  padding: 0;
  margin: 0;
}

#TabNav ul li.active ul li a {
  border-color: transparent;
  color: #444;
}

#TabNav ul li ul li.active a {
  border-color: transparent;
  color: #444;
}

#TabNav ul li ul li a {
  font-size: 13px;
  height: 40px;
  line-height: 40px;
}

#TabNav .nav .open > a,#TabNav .nav .open > a:hover,#TabNav .nav .open > a:focus {
  background-color: transparent;
}

.grid table .k-grid-header th {
  padding: 0 0 0 15px;
}

.grid table .k-grid-header th>.k-link {
  padding: 0;
}

#TemplateTable tbody td .box_template {
  padding-left: 70px;
}

#TemplateTable tbody td .box_template img {
  width: 50px;
  height: 50px;
}

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

.inner_sort h6:not(:first-child) {
  margin-left: 5px;
}

div[skill-keyword] input {
  font-size: 14px;
}

.comment_input .comment_avatar {
  position: absolute;
  top: 0;
  left: 0;
}

#Article .article_comment .comment_input img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

#KMManagement .search_head {
  width: 60%;
}

#KMManagement .search_head form {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

#KMManagement .search_head .grid_search {
  width: 33%;
  height: 34px;
  box-shadow: none;
  background-color: white;
  border-radius: 2px;
}

#KMManagement .search_head .grid_search:focus{
  border-color: #a2d7eb;          
}

#KMManagement .search_head .grid_search .form-control {
  height: 34px;
}

#KMManagement .search_head button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  right: 2px;
}

@media screen and (max-width: 767px) {
  #KMManagement .search_head {
    width: 100%;
    float: left;
  }
}

#Article .article_attachment ul li {
  position: relative;
  height: 140px;
}

.article_attachment i {
  line-height: 100px;
}

#Article .article_attachment ul li a {
  position: absolute;
  bottom: 0;
  left: 0;
}

#Article .article_attachment ul li img{
  width: 105px;
  height: 105px;
}

#Article .article_attachment ul li .img_box {
  display: block;
  position: relative;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  line-height: 1;
}

#Article .article_attachment ul li .img_box i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00a19c;
  color: #fff;
  text-align: center;
  line-height: 40px;
  padding-top: 0;
  cursor: pointer;
  font-size: 18px;
  display: none;
}

#Article .article_attachment ul li .img_box:hover i {
  display: block;
}

#Article .article_attachment ul li .audio-box i {
  font-size: 20px;
}

#Article .article_attachment ul li .img_box i:before {
  margin-right: 0 !important;
}

#BottomBar .bottombar_cta .label {
  font-size: 85%;
  font-weight: normal;
}

#Article .article_summary .article_impact h6 a {
  display: inline-block;
  vertical-align: bottom;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  font-size: 12px;
  text-transform: none;
  color: #fff;
  background: #efaa23;
  padding: 0 10px;
  border-radius: 15px;
  margin-left: 10px;
}

#Article .article_summary .article_impact h6 a i {
  font-size: 12px;
}

#Intro .kd li a {
  cursor: default;
}

#Intro .kd li span {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #fff;
  display: block;
}

#Intro .kd li span strong {
  font-size: 24px;
  font-weight: 100;
  line-height: normal;
  display: inline-block;
  margin-bottom: 5px;
}

#Rank .rank>a {
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 5px;
}

#Info {
  background: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

md-content {
  overflow: visible;
}

#Info .value_creation .article_side_block h6 {
  margin-bottom: 5px;
}

#Info .value_creation .article_side_block p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.article_side .article_side_block+.article_side_block {
  margin-top: 0;
}

.side_status .dropdown-header {
  padding: 5px 15px;
}

.popover {
  max-width: 33% !important;
}

.k-header-custom > .k-header {
  line-height: 20px !important;
  height: 60px !important;
  padding-top: 15px !important;
}
.k-header-custom > .k-header > small {
  color: #444;
  font-size: 10px;
  text-transform: none;
  display: block;
  font-weight: 300;
  margin-top: 4px;
}

#bs-example-navbar-collapse-1 {
    background-color: rgb(61, 60, 56);
}

#bs-example-navbar-collapse-1 .nav.navbar-nav {
    width: calc(100% - 519.7px - 43.1px);
}

#bs-example-navbar-collapse-1 .nav.navbar-nav .profile {
    float: right;
}

@media only screen and (max-width: 1294px) {
    #bs-example-navbar-collapse-1 .nav.navbar-nav .profile {
        float: left;
    }
}

@media (max-width: 991px) {
    #bs-example-navbar-collapse-1 .nav.navbar-nav {
        width: auto; 
    }
}