<div class="container-fluid" style="background-color: #efeff1">
  <div class="home-search">
    <button type="button" ng-show="canCreateReport" ng-click="vm.createNewReport()" class="btn btn-default btn-custom-lg">CREATE NEW DAILY REPORT</button>
    <div class="search_head right">
      <form ng-submit="Search()">
        <input type="text" class="grid_search form-control" placeholder="Search Report..." ng-model="Keyword"/>
        <button type="submit">
          <i class="icon-search"></i>
        </button>
      </form>
    </div>
    <div class="clear-report"></div>
    <ul id="home" class="nav nav-tabs">
      <li class="active"><a ui-sref-active="active" ng-click="vm.tabChange($event,'All')">All ({{Total}})</a></li>
      <li><a ui-sref-active="active" ng-click="vm.tabChange($event,'Draft')">Draft ({{TotalDraft}})</a></li>
      <li><a ui-sref-active="active" ng-click="vm.tabChange($event,'Submitted')">Submitted ({{TotalSubmitted}})</a></li>
      <li><a ui-sref-active="active" ng-click="vm.tabChange($event,'Acknowledged')">Acknowledged ({{TotalAcknowledged}})</a></li>
    </ul>
    <div class="tab-content" ui-view="subContent">

    </div>
  </div>
  
</div>
