<fieldset class="search-border">
  <legend class="search-border">Search Criteria</legend>
  <form ng-submit="Search()">
    <div class="form-group row">
      <label for="searchUser" class="col-sm-2 col-form-label">Create By</label>
      <div class="col-sm-4">
        <input type="text"
               class="form-control"
               kendo-auto-complete
               ng-model="createBy"
               k-options="searhAutoCompUser"
               id="searchUser" />
      </div>
      <label class="col-sm-2 col-form-label">Area</label>
      <div class="col-sm-4">
        <select class="form-control"
        name="cboArea"
        id="cboArea"
        kendo-drop-down-list="cboArea"
        ng-model="areaId"
        k-data-source="areas" 
        k-data-text-field="'name'"
        k-data-value-field="'id'"
        k-option-label="'Please Select'"
        ></select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Start Date</label>
      <div class="col-sm-4">
        <input style="width: 99.4%" kendo-date-picker placeholder="Start date ..."
               ng-model="startDate" />
      </div>
      <label class="col-sm-2 col-form-label">Unit</label>
      <div class="col-sm-4">
        <select class="form-control"
        name="cboUnit"
        id="cboUnit"
        kendo-drop-down-list="cboUnit"
        ng-model="unitId"
        k-data-source="units"
        k-data-text-field="'name'"
        k-data-value-field="'id'"
        k-option-label="'Please Select'"
        ></select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">End Date</label>
      <div class="col-sm-4">
        <input style="width: 99.4%" kendo-date-picker placeholder="End date ..."
               ng-model="endDate" />
      </div>
      <label for="tagNo" class="col-sm-2 col-form-label">Tag No</label>
      <div class="col-sm-4">
        <input type="text"
               class="form-control"
               kendo-auto-complete
               ng-model="tagNo"
               k-options="searhAutoCompTagNo"
               id="tagNo" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Group</label>
      <div class="col-sm-4">
        <select class="form-control"
        name="cboGroup"
        id="cboGroup"
        kendo-drop-down-list="cboGroup"
        ng-model="groupId"
        k-data-source="groups"
        k-data-text-field="'name'"
        k-data-value-field="'id'"
        k-option-label="'Please Select'"
        ></select>
      </div>
      <label class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-4">
        <select class="form-control"
        name="cboType"
        id="cboType"
        kendo-drop-down-list="cboType"
        ng-model="typeId"
        k-data-source="types"
        k-data-text-field="'name'"
        k-data-value-field="'id'"
        k-option-label="'Please Select'"
        ></select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Report Status</label>
      <div class="col-sm-4">
        <select class="form-control"
        name="cboStatus"
        id="cboStatus"
        kendo-drop-down-list="cboStatus"
        ng-model="statusId"
        k-data-source="status"
        k-data-text-field="'name'"
        k-data-value-field="'id'"
        k-option-label="'Please Select'"
        ></select>
      </div>
      <label class="col-sm-2 col-form-label">Failure Type</label>
      <div class="col-sm-4">
          <select class="form-control"
          name="cboFl"
          id="cboFl"
          kendo-drop-down-list
          ng-model="failureTypeId"
          k-data-source="failureTypes"
          k-data-text-field="'name'"
          k-data-value-field="'id'"
          k-option-label="'Please Select'"
          ></select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Work Completion</label>
      <div class="col-sm-4">
          <select class="form-control"
          name="cboWc"
          id="cboWc"
          kendo-drop-down-list
          ng-model="workCompletionId"
          k-data-source="workCompletions"
          k-data-text-field="'name'"
          k-data-value-field="'id'"
          k-option-label="'Please Select'"
          ></select>
      </div>
      <label class="col-sm-2 col-form-label">Constraints</label>
      <div class="col-sm-4">
          <select class="form-control"
          name="cboCt"
          id="cboCt"
          ng-disabled="workCompletionId == 1"
          kendo-drop-down-list
          ng-model="constraintId"
          k-data-source="constraints"
          k-data-text-field="'name'"
          k-data-value-field="'id'"
          k-option-label="'Please Select'"
          ></select>
      </div>
    </div>
    <div class="form-group row">
      <button type="submit" class="search-border btn btn-success">Search</button>
    </div>
  </form>
</fieldset>
  <div kendo-grid="grid" id="search-grid" options="mainGridOptions" style="margin:10px"></div>

<ul id="home-context-menu">
 
</ul>
<style>
  .form-control.k-widget {
    padding: 0 !important;
    border: 0 none;
    height: 35px;    
}
</style>